{
  "presets": [
    ["env", {
      "targets": {
        //"node": "current"
        //"browsers": ["last 2 versions"]
      },
      "modules": false
    }],
    "react",
    "stage-2"
    ],
  "plugins": ["external-helpers"]
}
