{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-flow",
    "polished"
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
