{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "production": {
      "plugins": ["external-helpers", "syntax-flow"]
    },
    "test": {
      "presets": ["env"],
      "plugins": ["syntax-flow"]
    }
  }
}
